<div class="relative mt-5 text-left">
  <div class="relative flex items-center">
    <div class="hidden w-20 md:block">
      <div class="font-bold italic">2020</div>
      <div class="space-x-1 text-xs md:flex">
        <div>Apr.</div>
        <div>-</div>
        <div>Jun.</div>
      </div>
    </div>

    <div class="absolute left-1 top-2 z-10 h-full animate-pulse border-r-2 border-black md:left-20">
      <i class="fas fa-circle absolute -top-1 -ml-2"></i>
    </div>

    <div class="ml-10">
      <div class="font-bold">Company 1</div>
      <div class="italic md:mb-4">Angular Developer</div>
      <div class="mb-4 mt-2 md:hidden">
        <div class="font-bold">2022</div>
        <div class="text-xs">April - June</div>
      </div>
      <div class="mb-10">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Eu molestie cubilia fringilla consectetur fermentum vitae
        hendrerit. Nam senectus per hac risus luctus fermentum at? Velit molestie erat, tristique orci vel tortor
        interdum. Pretium et morbi est quis aenean; elementum ante morbi. Tellus sit aptent turpis eu tellus dapibus
        praesent? Mattis quis sem cursus pretium vulputate platea varius felis. Curae ridiculus donec fringilla natoque
        libero sem.
      </div>
    </div>
  </div>

  <div class="relative flex items-center">
    <div class="hidden w-20 md:block">
      <div class="font-bold italic">2020</div>
      <div class="space-x-1 text-xs md:flex">
        <div>Apr.</div>
        <div>-</div>
        <div>Jun.</div>
      </div>
    </div>

    <div class="absolute left-1 top-2 z-10 h-full border-r-2 border-black md:left-20">
      <i class="fas fa-circle absolute -top-1 -ml-2"></i>
    </div>

    <div class="ml-10">
      <div class="font-bold">Company 1</div>
      <div class="italic md:mb-4">Angular Developer</div>
      <div class="mb-4 mt-2 md:hidden">
        <div class="font-bold">2022</div>
        <div class="text-xs">April - June</div>
      </div>
      <div class="mb-10">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Eu molestie cubilia fringilla consectetur fermentum vitae
        hendrerit. Nam senectus per hac risus luctus fermentum at? Velit molestie erat, tristique orci vel tortor
        interdum. Pretium et morbi est quis aenean; elementum ante morbi. Tellus sit aptent turpis eu tellus dapibus
        praesent? Mattis quis sem cursus pretium vulputate platea varius felis. Curae ridiculus donec fringilla natoque
        libero sem.
      </div>
    </div>
  </div>

  <div class="relative flex items-center">
    <div class="hidden w-20 md:block">
      <div class="font-bold italic">2020</div>
      <div class="space-x-1 text-xs md:flex">
        <div>Jul.</div>
        <div>-</div>
        <div>Aug.</div>
      </div>
    </div>

    <div class="absolute left-1 top-2 z-10 h-full border-r-2 border-black md:left-20">
      <i class="fas fa-circle absolute -top-1 -ml-2"></i>
    </div>

    <div class="ml-10">
      <div class="font-bold">Company 2</div>
      <div class="italic md:mb-4">Developer 2</div>
      <div class="mb-4 mt-2 md:hidden">
        <div class="font-bold">2020</div>
        <div class="text-xs">Jun - Dec</div>
      </div>
      <div class="mb-10">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Eu molestie cubilia fringilla consectetur fermentum vitae
        hendrerit. Nam senectus per hac risus luctus fermentum at? Velit molestie erat, tristique orci vel tortor
        interdum. Pretium et morbi est quis aenean; elementum ante morbi. Tellus sit aptent turpis eu tellus dapibus
        praesent? Mattis quis sem cursus pretium vulputate platea varius felis. Curae ridiculus donec fringilla natoque
        libero sem.
      </div>
    </div>
  </div>

  <div class="relative flex items-center">
    <div class="hidden w-20 md:block">
      <div class="font-bold italic">2023</div>
      <div class="space-x-1 text-xs md:flex">
        <div>Aug.</div>
        <div>-</div>
        <div>Sept.</div>
      </div>
    </div>

    <div class="absolute left-1 top-2 z-10 h-full border-r-2 border-black md:left-20">
      <i class="fas fa-circle absolute -top-1 -ml-2"></i>
      <i class="fas fa-circle absolute bottom-0 -ml-2"></i>
    </div>

    <div class="ml-10">
      <div class="font-bold">Company 3</div>
      <div class="italic md:mb-4">Full stack developer</div>
      <div class="mb-4 mt-2 md:hidden">
        <div class="font-bold">2024</div>
        <div class="text-xs">Aug - Sept</div>
      </div>
      <div class="mb-10">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Eu molestie cubilia fringilla consectetur fermentum vitae
        hendrerit. Nam senectus per hac risus luctus fermentum at? Velit molestie erat, tristique orci vel tortor
        interdum. Pretium et morbi est quis aenean; elementum ante morbi. Tellus sit aptent turpis eu tellus dapibus
        praesent? Mattis quis sem cursus pretium vulputate platea varius felis. Curae ridiculus donec fringilla natoque
        libero sem.
      </div>
    </div>
  </div>

  <div class="relative flex items-center">
    <div class="hidden w-20 md:block">
      <div class="font-bold italic">2023</div>
      <div class="space-x-1 text-xs md:flex">
        <div>Aug.</div>
        <div>-</div>
        <div>Sept.</div>
      </div>
    </div>

    <div class="absolute left-1 top-2 z-10 h-full border-r-2 border-black md:left-20">
      <i class="fas fa-circle absolute -top-1 -ml-2"></i>
      <i class="fas fa-circle absolute bottom-0 -ml-2"></i>
    </div>

    <div class="ml-10">
      <div class="font-bold">Company 3</div>
      <div class="italic md:mb-4">Full stack developer</div>
      <div class="mb-4 mt-2 md:hidden">
        <div class="font-bold">2024</div>
        <div class="text-xs">Aug - Sept</div>
      </div>
      <div class="mb-10">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Eu molestie cubilia fringilla consectetur fermentum vitae
        hendrerit. Nam senectus per hac risus luctus fermentum at? Velit molestie erat, tristique orci vel tortor
        interdum. Pretium et morbi est quis aenean; elementum ante morbi. Tellus sit aptent turpis eu tellus dapibus
        praesent? Mattis quis sem cursus pretium vulputate platea varius felis. Curae ridiculus donec fringilla natoque
        libero sem.
      </div>
    </div>
  </div>

  <div class="relative flex items-center">
    <div class="hidden w-20 md:block">
      <div class="font-bold italic">2023</div>
      <div class="space-x-1 text-xs md:flex">
        <div>Aug.</div>
        <div>-</div>
        <div>Sept.</div>
      </div>
    </div>

    <div class="absolute left-1 top-2 z-10 h-full border-r-2 border-black md:left-20">
      <i class="fas fa-circle absolute -top-1 -ml-2"></i>
      <i class="fas fa-circle absolute bottom-0 -ml-2"></i>
    </div>

    <div class="ml-10">
      <div class="font-bold">Company 3</div>
      <div class="italic md:mb-4">Full stack developer</div>
      <div class="mb-4 mt-2 md:hidden">
        <div class="font-bold">2024</div>
        <div class="text-xs">Aug - Sept</div>
      </div>
      <div class="mb-10">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Eu molestie cubilia fringilla consectetur fermentum vitae
        hendrerit. Nam senectus per hac risus luctus fermentum at? Velit molestie erat, tristique orci vel tortor
        interdum. Pretium et morbi est quis aenean; elementum ante morbi. Tellus sit aptent turpis eu tellus dapibus
        praesent? Mattis quis sem cursus pretium vulputate platea varius felis. Curae ridiculus donec fringilla natoque
        libero sem.
      </div>
    </div>
  </div>

  <div class="relative flex items-center">
    <div class="hidden w-20 md:block">
      <div class="font-bold italic">2023</div>
      <div class="space-x-1 text-xs md:flex">
        <div>Aug.</div>
        <div>-</div>
        <div>Sept.</div>
      </div>
    </div>

    <div class="absolute left-1 top-2 z-10 h-full border-r-2 border-black md:left-20">
      <i class="fas fa-circle absolute -top-1 -ml-2"></i>
      <i class="fas fa-circle absolute bottom-0 -ml-2"></i>
    </div>

    <div class="ml-10">
      <div class="font-bold">Company 3</div>
      <div class="italic md:mb-4">Full stack developer</div>
      <div class="mb-4 mt-2 md:hidden">
        <div class="font-bold">2024</div>
        <div class="text-xs">Aug - Sept</div>
      </div>
      <div class="mb-10">
        Lorem ipsum odor amet, consectetuer adipiscing elit. Eu molestie cubilia fringilla consectetur fermentum vitae
        hendrerit. Nam senectus per hac risus luctus fermentum at? Velit molestie erat, tristique orci vel tortor
        interdum. Pretium et morbi est quis aenean; elementum ante morbi. Tellus sit aptent turpis eu tellus dapibus
        praesent? Mattis quis sem cursus pretium vulputate platea varius felis. Curae ridiculus donec fringilla natoque
        libero sem.
      </div>
    </div>
  </div>
</div>
