<section class="carousel">
  <main>
    <ul #slider class="slider">
      <li *ngFor="let slide of slides" class="item" [ngStyle]="{ 'background-image': 'url(' + slide.image + ')' }">
        <div class="content">
          <div class="backdrop-blur-lg bg-white/30 p-6">
            <h2 class="title text-shadow-light-shadow-primary">{{ slide.title }}</h2>
            <p class="description text-shadow-lg">{{ slide.description }}</p>
          </div>
          <div
            tmr-button-a2
            class="mt-4"
            [text]="slide.buttonText"
            bgClass="primary"
            [hasAnimation]="true"
            routerLink="/skills"
            (buttonClick)="handleButtonClick()"></div>
        </div>
      </li>
    </ul>
    <nav class="nav absolute bottom-8 left-1/2 transform -translate-x-1/2 z-50 select-none">
      <button
        class="btn ripple prev bg-white bg-opacity-50 text-primary p-3 rounded-full cursor-pointer hover:bg-opacity-30"
        (click)="previousSlide()">
        <svg-icon src="assets/icons/heroicons/outline/arrow-left.svg" [svgClass]="'h-4 w-4'"></svg-icon>
      </button>
      <button
        class="btn ripple next bg-white bg-opacity-50 text-primary ml-4 p-3 rounded-full cursor-pointer hover:bg-opacity-30"
        (click)="nextSlide()">
        <svg-icon src="assets/icons/heroicons/outline/arrow-right.svg" [svgClass]="'h-4 w-4'"></svg-icon>
      </button>
    </nav>
  </main>
</section>
