<div
  class="main relative flex h-12 w-72 items-center justify-center rounded-full bg-primary-foreground font-bold text-black">
  <div class="social absolute flex h-full w-full items-center justify-evenly">
    <a
      *ngFor="let link of socialLinks; let i = index"
      [href]="link.url"
      target="_blank"
      class="scale-0 transform text-2xl text-black opacity-0 transition duration-[700ms] hover:text-yellow-400"
      [ngStyle]="{ 'transition-delay': (socialLinks.length - i) * 85 + 'ms' }">
      <img [src]="isColor ? link.icon.colored : link.icon.solid" alt="Social Icon" class="h-6 w-6" />
    </a>
  </div>

  <div
    class="btn absolute left-0 top-0 flex h-full w-full transform items-center justify-center rounded-full bg-primary text-lg text-white transition-transform duration-[950ms] hover:translate-x-[-500px]">
    <span>Connect with me</span>
  </div>
</div>
