<div class="timeline mx-auto p-0">
  <div class="outer">
    <div
      *ngFor="let experience of experienceData; let i = index"
      class="card relative max-w-[400px] px-4 py-6 md:px-6 md:py-8"
      [ngClass]="{ 'pl-8 pr-4': i % 2 === 0, 'pl-4 pr-8': i % 2 !== 0 }">
      <div class="info flex flex-col rounded-md p-3 text-gray-500">
        <h3 class="title relative text-primary">
          <span class="font-poppins font-semibold">{{ experience.company.name }}</span>
          <span class="text-xs">( {{ experience.timePeriod.startDate | date : 'MMM yyyy' }} )</span>
        </h3>
        <h3 class="relative text-foreground">
          <span class="font-nunito font-normal">{{ experience.job }}</span>
        </h3>
        <div
          class="description mb-4 list-inside list-disc bg-transparent text-gray-700"
          [innerHTML]="getSanitizedDescription(experience.description)"></div>
      </div>
    </div>
  </div>
</div>
