<div class="fixed inset-0 flex items-center justify-center bg-black bg-opacity-50" *ngIf="isVisible">
  <div
    class="h-full w-[90%] transform overflow-auto rounded-lg bg-background shadow-xl transition-all md:h-auto md:overflow-hidden">
    <div class="bg-background px-4 pb-4 pt-5 sm:p-6 sm:pb-4">
      <div class="sm:flex sm:items-start">
        <div class="mt-3 text-center sm:ml-4 sm:mt-0 sm:text-left">
          <tmr-info-card
            [projectTitle]="'My Portfolio'"
            [projectSubtitle]="'Projects'"
            [projectCategory]="'Web Development'"
            [articleCount]="50"
            [featuredArticle]="featured"
            [secondaryArticle]="secondary"
            [topics]="['Frontend', 'Backend', 'UI/UX']"
            [bottomLinks]="bottomArticles"
            [popularLinks]="popularArticles"
            [socialLinks]="socialIcons">
          </tmr-info-card>
        </div>
      </div>
    </div>
    <div class="bg-background px-4 py-3 sm:flex sm:flex-row-reverse sm:px-6">
      <button
        type="button"
        class="inline-flex w-full justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 sm:ml-3 sm:w-auto sm:text-sm"
        (click)="closeModal()">
        Close
      </button>
    </div>
  </div>
</div>
