section.gooey-section{
  #gooey-button {
    border: none;
    filter: url('#gooey');
    &:focus {
      outline: none;
    }

    .bubbles {
      .bubble {
        border-radius: 100%;
        position: absolute;
        top: 0;
        left: 0;
        display: block;
        z-index: -1;

        @for $bubble from 1 through 10 {
          &:nth-child(#{$bubble}) {
            $size: 25px;
            left: (random(90) + 10) + px;
            width: $size;
            height: $size;
            animation: move-#{$bubble} #{3 + $bubble * 0.02}s infinite;
            animation-delay: #{$bubble * 0.2}s;
          }
        }
      }
    }
  }
}



@for $bubble from 1 through 10 {
  @keyframes move-#{$bubble} {
    0% {
      transform: translate(0, 0);
    }
    99% {
      transform: translate(0, -(random(80) + 50) + px);
    }
    100% {
      transform: translate(0, 0);
      opacity: 0;
    }
  }
}
