<ng-container *ngIf="cryptoData">
  <div class="flex flex-col rounded-lg bg-background p-8" [ngStyle]="{ height: cardStyle.container.height }">
    <svg-icon
      class="h-full max-h-full w-full cursor-pointer rounded-md object-cover text-primary transition duration-150 ease-in-out hover:text-muted-foreground hover:opacity-75"
      [src]="cryptoType === crypto.Ethereum ? cryptoData.ethereum.image || '' : cryptoData.solana.image || ''">
    </svg-icon>
    <h2 class="text-md mt-6 font-semibold text-foreground">
      {{ cryptoType === crypto.Ethereum ? cryptoData.ethereum.title || '' : cryptoData.solana.title || '' }}
    </h2>

    <!-- [Ethereum] Transactions component -->
    <ng-container *ngIf="cryptoType === crypto.Ethereum">
      <tmr-csc-output-transaction [ethereumTransaction]="getCrypto(crypto.Ethereum)" [isEthereum]="true">
      </tmr-csc-output-transaction>
    </ng-container>

    <!-- [Solana] Transactions component -->
    <ng-container *ngIf="cryptoType === crypto.Solana">
      <tmr-csc-output-transaction [solanaTransaction]="getCrypto(crypto.Solana)"></tmr-csc-output-transaction>
    </ng-container>
  </div>
</ng-container>
