.h-half-screen {
  height: 50vh;
}
.h-half-svh {
  height: 50svh;
}
.h-half-lvh {
  height: 50lvh;
}
.h-half-dvh {
  height: 50dvh;
}

.w-half-screen {
  width: 50vh;
}
.w-half-svh {
  width: 50svh;
}
.w-half-lvh {
  width: 50lvh;
}
.w-half-dvh {
  width: 50dvh;
}
