$colors: (
  "white": #fff,
  "gray": #ccc,
  "light-gray": #eee,
  "lightest-gray": #f9f9f9,
  "dark-gray": #606060,
  "darker-gray": #8f8f8f
);

$text-shadow-light-primary:
  0 1px 0 color("white"),
  0 2px 0 color("lightest-gray"),
  0 3px 0 color("light-gray"),
  0 4px 0 color("dark-gray"),
  0 5px 0 color("darker-gray"),
  0 6px 0 transparent,
  0 7px 0 transparent,
  0 8px 0 transparent,
  0 9px 0 transparent,
  0 10px 10px rgba(0, 0, 0, 0.6);

$text-shadow-dark-primary:
  0 1px 0 color("gray"),
  0 2px 0 color("gray"),
  0 3px 0 color("gray"),
  0 4px 0 color("gray"),
  0 5px 0 color("gray"),
  0 6px 0 transparent,
  0 7px 0 transparent,
  0 8px 0 transparent,
  0 9px 0 transparent,
  0 10px 10px rgba(0, 0, 0, 0.6);
