<div class="mx-auto max-w-sm rounded-lg p-4 shadow" *ngIf="weatherData">
  <div class="text-center">
    <div class="text-2xl font-bold text-primary">{{ weatherData.main?.temp }} °C</div>
    <div class="text-gray-500" *ngIf="weatherData.weather && weatherData.weather.length > 0">
      {{ weatherData.weather[0].description }}
    </div>
  </div>
  <div class="my-4 flex justify-between">
    <div class="text-center">
      <div class="text-lg font-semibold text-primary">{{ weatherData.main?.humidity }} %</div>
      <div class="text-gray-500">Humidity</div>
    </div>
    <div class="text-center">
      <div class="text-lg font-semibold text-primary">{{ weatherData.main?.pressure }} hPa</div>
      <div class="text-gray-500">Pressure</div>
    </div>
    <div class="text-center">
      <div class="text-lg font-semibold text-primary">{{ weatherData.wind?.speed }} m/s</div>
      <div class="text-gray-500">Wind</div>
    </div>
  </div>
  <canvas id="lineChart" width="400" height="400" #lineChart></canvas>
</div>
