<div class="relative z-10 mb-4 flex justify-between">
  <div class="inline-block">
    <h3 class="font-semibold text-foreground">Experience</h3>
    <div class="space-x-1 text-xs font-medium text-muted-foreground">
      <a href class="hover:text-primary">My Works</a>
      <span> -Skills & Experiences</span>
    </div>
  </div>
  <div class="inline-block space-x-4" *ngIf="env && !env.production">
    <button
      class="hidden rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground sm:block md:hidden">
      Mobile
    </button>
    <button
      class="hidden rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground md:block lg:hidden">
      Tablet/Ipad
    </button>
    <button
      class="hidden rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground lg:block xl:hidden">
      Laptop
    </button>
    <button
      class="hidden rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground xl:block 2xl:hidden">
      Desktop
    </button>
    <button class="hidden rounded-md bg-primary px-4 py-2.5 text-xs font-semibold text-primary-foreground 2xl:block">
      Desktop++
    </button>
  </div>
</div>
