<div class="flex h-screen w-full overflow-hidden">
  <!-- Sidebar -->
  <app-sidebar></app-sidebar>

  <div class="flex grow flex-col content-start overflow-hidden bg-card">
    <!-- Header -->
    <app-navbar></app-navbar>
    <!-- main content [option: container and container-fluid]-->
    <!-- TODO: Make api configuration for layout width -->
    <div
      id="main-content"
      class="scrollbar-thumb-rounded scrollbar-track-rounded grow overflow-auto scrollbar-thin scrollbar-track-transparent scrollbar-thumb-muted">
      <div class="mx-auto p-0 lg:container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>

    <!-- footer -->
    <app-footer></app-footer>

    <!-- Bottom bar -->
    <!-- <app-bottom-navbar></app-bottom-navbar> -->
  </div>
</div>
