<div class="mobile-rupak pt-12">
  <div class="flex justify-center">
    <div
      tmr-bubble-card
      [width]="300"
      [height]="300"
      customClass="flex-none w-full h-[300px] md:h-[400px] lg:w-[300px]">
      <tmr-custom-img
        [src]="profilePicture"
        alt="Sample Image"
        [width]="600"
        [height]="400"
        [fill]="false"
        [priority]="true"
        loading="eager"
        customClass="custom-image-class"></tmr-custom-img>
    </div>
  </div>
</div>
<div class="mobile-intro">
  <div class="flex items-center justify-center">
    <div class="relative flex h-40 w-80 flex-col items-center justify-center">
      <div class="relative flex h-12 w-full items-center justify-center">
        <span class="bg-glassy absolute h-full animate-mainBlock"></span>
        <h1
          class="font-ubuntu relative flex animate-mainFadeIn items-baseline text-[28px] font-semibold text-foreground opacity-0">
          <span class="initial-letter text-primary">T</span>hapa &nbsp;<span class="initial-letter text-primary">
            M</span
          >agar &nbsp;<span class="initial-letter text-primary"> R</span>upak
          <span class="absolute -right-3 bottom-3 h-0 w-0 animate-popIn rounded-full bg-primary"></span>
        </h1>
      </div>

      <div class="relative mt-[-5px] flex h-7 w-full items-center justify-center">
        <div class="absolute h-full animate-secBlock bg-primary"></div>
        <p class="text-md animate-secFadeIn font-nunito uppercase tracking-wide text-foreground opacity-0">
          Full-stack Developer
        </p>
      </div>
    </div>
  </div>
</div>
<div class="flex justify-center">
  <tmr-social-button [isColor]="true" [socialLinks]="socialLinks"></tmr-social-button>
</div>
